<ion-header calss="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="star">
      <ion-back-button defaultHref="login" text>
      </ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title> Sign Up </ion-card-title>
      <ion-card-subtitle>
        Signup by filling the following details!
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input name="names" type="text" placeholder="FullName">
          <ion-icon name="person-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="names" type="text" placeholder="Phone-no">
          <ion-icon name="call-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="email" type="text" placeholder="Email">
          <ion-icon name="email-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <div>
      <span class="social-media-span">Sign_up with</span>
      <div class="social-media">
        <ion-button fill="clear" class="login-facebook">
          <ion-img src="../../../assets/images/apple3.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="login-facebook">
          <ion-img src="../../../assets/images/google3.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="login-facebook">
          <ion-img src="../../../assets/images/facebeek3.png"></ion-img>
        </ion-button>
      </div>
    </div>
    </ion-card-content>
  </ion-card>
</ion-content>
