<ion-header>
  <ion-toolbar>
    <ion-card>
      <ion-title class="welcome">Welcome page</ion-title>
    </ion-card>

  </ion-toolbar>
</ion-header>

<ion-content >

   <ion-card-header class="card-header"><h1>Welcome</h1></ion-card-header>
   <span class="discription"><h2>Learn english</h2></span>
   <ion-card-content class="buttons">
     <div >
       <span class="login">Please click the button to login</span>
       <div><ion-button shape="round" fill="solid">LOGIN</ion-button></div>

     </div>
     <div >
      <span class="signup">Please click the button to signup</span>

      <div><ion-button shape="round" fill="solid">signup</ion-button></div>
     </div>

   </ion-card-content>
      <div class="social-media">Or via social media?</div>
      <div>Login with</div>
      <div class="social-media">
        <ion-button fill="clear" class="login-facebook">
          <ion-img src="../../../assets/images/apple3.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="login-facebook">
          <ion-img src="../../../assets/images/google3.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="login-facebook">
          <ion-img src="../../../assets/images/facebeek3.png"></ion-img>
        </ion-button>
      </div>
      <div class="footer_main">
        <footer><h3>Thank you for choosing this application</h3></footer>
      </div>



</ion-content>
